{% extends "base.html" %}
{% block content %}
    <main class="container mx-auto px-4 py-6">
        <!-- Welcome Banner -->
        <div class="bg-gradient-to-r from-blue-500 to-green-500 text-white rounded-lg p-4 mb-6">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <div>
                    <h2 class="text-xl font-bold">Welcome, to Agriconnect!</h2>
                    <p class="opacity-90">Connecting farmers to weather, market data, and sustainable farming practices through a user-friendly app.</p>
                    <p class="opacity-90">Please Note that before Login in, You need to be registered with the ministry of Agriculture</p>
                    <p class="opacity-90">Default Password: <b>Admin</b></p>
                </div>
            
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                
            </div>

            <div class="col-md-4">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
            <!-- Login page -->
                    <div class="content-section">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Log In</legend>
                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label") }}
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.registration_type.label(class="form-control-label") }}

                                    {% if form.registration_type.errors %}
                                        {{ form.registration_type(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.registration_type.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.registration_type(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-check">
                                    {{ form.remember(class="form-check-input") }}
                                    {{ form.remember.label(class="form-check-label") }}
                                </div>
                            </fieldset>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                            <small class="text-muted ml-2">
                                <a href="{{ url_for('reset_password') }}">Forgot/Change Password?</a>
                            </small>
                        </form>
                    </div>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    
        
    </main>
{% endblock content%}